<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%yellow(%d{HH:mm:ss.SSS}) %highlight(%level) %green([%thread]) %cyan(%logger{50}) - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.reactorsolutions" level="DEBUG"/>
  <logger name="org.apache.kafka.clients.consumer.internals.Fetcher" level="trace"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
  <root level="trace">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
